.env
.gitattributes
.gradle
.gradletasknamecache
.project
.settings
app.log
app.log.*
bin/main/
bin/test/
build
*.tar.gz
settings.gradle
*.csv
*.gv
*.pdf
/*.json
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties
src/main/java/tla/domain
src/main/java/tla/error
