---

name: deploy

on: [pull_request, push]

jobs:

  docker:
    runs-on: ubuntu-latest

    steps:

    - uses: "actions/checkout@v2"

    - name: start TLA containers
      run: docker-compose up -d --force-recreate --build
      env:
        SAMPLE_URL: http://aaew64.bbaw.de/resources/tla-data/tla-sample-20210115-1000t.tar.gz

    - name: show container status
      run: docker-compose ps

    - name: show ingest container logs
      run: docker-compose logs populate

    - name: show backend container logs
      run: docker-compose logs backend

    - name: wait for backend to be populated with corpus data
      uses: "cygnetdigital/wait_for_response@v2.0.0"
      with:
        url: http://localhost:8090/lemma/get/100690
        responseCode: 200
        interval: 5000
        timeout: 100000

    - name: query backend version
      run: curl -s http://localhost:8090/version

    - name: query backend endpoints
      run: curl -s http://localhost:8090/

...
